@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.movie-card {
  background-color: #000;
  color: #FFF;
  width: 300px;
  transition: all 0.25s ease-in-out;
  margin: 30px;
  border-radius: 15px;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(219, 68, 57, 0.8);
}

.movie-card img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  padding: 0px!important;
}

.movie-card h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #db4439;
}

.movie-card p {
  padding: 0px 10px 0px 10px;
}

.movie-card-body {
  padding: 20px;
}

hr {
  border-top: 2px solid #db4439;
}